body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:601px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:1263px;
  height:601px;
}
#u246 {
  position:absolute;
  left:2px;
  top:292px;
  width:1259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:207px;
  top:147px;
  width:100px;
  height:155px;
}
#u247_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:161px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:160px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
  color:#99CCCC;
}
#u249_img.mouseDown {
}
#u249.mouseDown {
}
#u250 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u251 {
  position:absolute;
  left:0px;
  top:39px;
  width:100px;
  height:39px;
  color:#99CCCC;
}
#u251_img.mouseDown {
}
#u251.mouseDown {
}
#u252 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u253 {
  position:absolute;
  left:0px;
  top:78px;
  width:100px;
  height:38px;
  color:#99CCCC;
}
#u254 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u255 {
  position:absolute;
  left:0px;
  top:116px;
  width:100px;
  height:39px;
  color:#99CCCC;
}
#u256 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:409px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:364px;
  top:147px;
  width:590px;
  height:409px;
  opacity:0.8;
}
#u258 {
  position:absolute;
  left:2px;
  top:196px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:61px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 5px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 5px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 5px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u259 {
  position:absolute;
  left:78px;
  top:42px;
  width:876px;
  height:61px;
}
#u260 {
  position:absolute;
  left:2px;
  top:22px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u261 {
  position:absolute;
  left:250px;
  top:58px;
  width:57px;
  height:32px;
  font-size:28px;
  color:#F2F2F2;
}
#u261_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u261.mouseOver {
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u263 {
  position:absolute;
  left:346px;
  top:58px;
  width:57px;
  height:32px;
  font-size:28px;
  color:#F2F2F2;
}
#u263_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u263.mouseOver {
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u265 {
  position:absolute;
  left:446px;
  top:58px;
  width:57px;
  height:32px;
  font-size:28px;
  color:#F2F2F2;
}
#u265_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u265.mouseOver {
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u267 {
  position:absolute;
  left:551px;
  top:58px;
  width:85px;
  height:32px;
  font-size:28px;
  color:#F2F2F2;
}
#u267_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u267.mouseOver {
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u269 {
  position:absolute;
  left:683px;
  top:58px;
  width:113px;
  height:32px;
  font-size:28px;
  color:#F2F2F2;
}
#u269_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#F2F2F2;
}
#u269.mouseOver {
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:63px;
}
#u271 {
  position:absolute;
  left:107px;
  top:43px;
  width:122px;
  height:63px;
}
#u272 {
  position:absolute;
  left:2px;
  top:24px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u273 {
  position:absolute;
  left:417px;
  top:272px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u275 {
  position:absolute;
  left:417px;
  top:351px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u277 {
  position:absolute;
  left:417px;
  top:389px;
  width:66px;
  height:24px;
  font-size:20px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u279 {
  position:absolute;
  left:532px;
  top:351px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u281 {
  position:absolute;
  left:531px;
  top:389px;
  width:66px;
  height:24px;
  font-size:20px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u283 {
  position:absolute;
  left:648px;
  top:351px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u285 {
  position:absolute;
  left:653px;
  top:389px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u287 {
  position:absolute;
  left:782px;
  top:351px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u288 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u289 {
  position:absolute;
  left:787px;
  top:389px;
  width:55px;
  height:24px;
  font-size:20px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:114px;
}
#u291 {
  position:absolute;
  left:603px;
  top:431px;
  width:113px;
  height:114px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#FFFFFF;
}
#u292 {
  position:absolute;
  left:2px;
  top:41px;
  width:109px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u293 {
  position:absolute;
  left:465px;
  top:476px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u295 {
  position:absolute;
  left:417px;
  top:198px;
  width:237px;
  height:25px;
}
#u295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
